:root{
  --primary : rgb(22, 129, 195);

}
/* Global selector */
* {
  /* CSS resetting */
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  list-style: none;
}

/* Login CSS */
.body {
  background-image: url(https://wallpapers.com/images/hd/dark-grey-aesthetic-81yw05r4l0g7rqni.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 30px;
}

/* Tag Selector */

/* Id selector */
#login {
  color: white;
  margin-bottom: 10px;
  text-align: center;
}

/* Class selector */
.form-input {
  padding: 10px 20px;
  padding-left: 1%;
  padding-right: 45px;
  background-color: rgba(255, 255, 255, 0.838);
  border-radius: 6px;
}

.login-container {
  background-color: rgba(128, 128, 128, 0.582);
  height: 320px;
  width: 280px;
  padding-top: 40px;
  border-radius: 7px;
}
/* h1,
label,
input {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
} */
/* label {
  color: white;
  margin-left: -145px;
} */
.div-password {
  margin-top: 22px;
}
#submit-btn {
  margin-top: 40px;
  padding: 10px 35px 10px 35px;
  background-color: rgba(255, 255, 255, 0.838);
  border-radius: 6px;
  border-color: black;
}
#submit-btn:hover {
  background-color: rgba(128, 128, 128, 0.582);
  color: white;
}
/* Login CSS End */

/* Navbar CSS */
.navbar {
  display: flex;
  justify-content: space-between;
  background-color:var(--primary);
  color: white;
}

.navbar > div {
  padding: 12px;
}

.navbar > div > ul {
  display: flex;
  gap: 35px;
  padding: 9px;
}

.navbar > div > ul > li:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Navbar CSS end */

/* FlyEase CSS start */
.navbar {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.main-content {
  display: flex;
}
.content {
  padding: 40px;
  margin-top: 15px;
}
.content > h1 {
  margin-bottom: 20px;
}
.content > h1,
p {
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.content > p {
  font-size: large;
}
.form {
  text-align: center;
  padding: 40px;
  margin-left: 90px;
  margin-right: 90px;
  border-radius: 10px;
  background-color: var(--primary);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.form > input {
  margin-right: 40px;
  padding: 7px;
  border-radius: 7px;
  border-color: rgb(60, 134, 169);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#search-btn {
  margin-left: 20px;
  padding-left: 15px;
  padding-right: 15px;
}
.form > label {
  font-weight: 400;
  font-size: larger;
  color: white;
}
#search-btn:hover {
  background-color: skyblue;
  color: black;
}
